/*header section*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.header-section {
  background-image: url("../images/Banner\ Image.png");
  background-size: cover;
  background-position: bottom center;
  justify-content: space-between;
  height: 100vh;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(7, 2, 17, 0) 100%);
}
.header-section h2 {
  color: red;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  padding-top: 170px;
}
.header-section p {
  color: red;
  text-align: center;
  font-family: Merriweather;
  font-size: 75px;
  font-weight: 900;
  padding-top: 50px;
}
.offer-title {
  text-align: center;
}
.offer {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 90px;
}
.offer-section h3 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}
.offer-section h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}
.photo-new-year {
  text-align: center;
  fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#section-join {
  background-image: url("../images/Vectorrr.png");
}
.section-images {
}

.section-header {
  display: flex;
}
.section-main {
  margin-left: 30px;
}

.section-title {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.section-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.join-button1 {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
/*--party adress section */
.party-section {
  padding: 130px;
  border-radius: 10px;
  background-color: rgb(255, 89, 89, 0.1);
  margin: 130px 0;
}
.party-adress {
  text-align: center;
}
.party {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.party-hotel {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.party-date {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.party-time {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.join-button2 {
  display: inline-flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 9px;
  background: #f00;
}
.best-offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer-new {
  text-align: center;
  margin-left: 30px;
}
#new {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#com {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
#description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  width: 393px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.circle-imgs img {
  width: 364.844px;
  height: 364.844px;
  flex-shrink: 0;
  border-radius: 364.844px;
  background: url("<path-to-image>"),
    lightgray -91.279px 0px / 150.038% 100% no-repeat;
}
.circle-imgs {
  border-radius: 463px;
  border: 15px solid #f00;
}
.off-best {
  text-align: center;
  padding: 20px;
  margin-left: 20px;
}
#year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#group-pic {
  margin-top: 20px;
}
.holi-day {
  text-align: center;
  padding: 120px;
}
.holi-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.holi-sale {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
#sale-holi {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.holi-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  width: 1080px;
}
#title-product {
  padding-top: 60px;
  gap: 10px;
  margin-left: 50px;
}
.best {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.our {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.dolar {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
/* holiday discount-----*/
.holiday-discount {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gift-box {
}

.fifty-discount {
  color: #fff;
  font-family: Inter;
  font-size: 24.338px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.happy-shoping {
  width: 429px;
  height: 433px;
  flex-shrink: 0;
  border-radius: 16px 16px 0px 0px;
  background: url(<path-to-image>),
    lightgray -59.98px 0px / 151.553% 100% no-repeat;
}
.rect-angle {
  align-items: center;
  border-radius: 16px 0px 16px 16px;
  background: #f00;
}

#section-box {
}
.first-3image {
  text-align: center;
  border-radius: 16px;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  gap: 15px;
}
.second-3images {
  text-align: center;
  border-radius: 16px;
  padding-top: 4px;
}
#email-part {
  text-align: center;
  padding-top: 80px;
}
.sub-new {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.sub-des {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.email-part {
}
#email {
  padding: 130px;
  border-radius: 10px;
  background-color: rgb(255, 89, 89, 0.1);
  margin-left: 2%;
  margin: 130px 0;
}
.sub {
  text-decoration: none;
  border-radius: 50px;
  background: #fff;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
}
#scri {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
footer {
  background-color: #0b0d17;
  padding: 70px;
  color: #d9dbe1;
  margin-top: 5%;
}
.fat {
  margin-right: 40px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
#end-section {
  display: flex;
  justify-content: space-between;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 14px;
}
.all {
  display: flex;
  justify-content: space-between;
}
#rights {
  padding: 20px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
